#sayfa
{
	width:1024px;
	height:1124px;
	float:left;
	margin:0px;
	padding:0px;
	background-color:#0099CC;
	top:20px;
}
#ust
{
width:1024px;
height:124px;
float:left;
margin:0px;
padding:0px;
background:url(basbanner.jpg);
}
#orta3
{
width:1024px;
height:900px;
float:left;
margin:0px;
padding:0px;
background:url(res/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg);
}
#orta5
{
width:1024px;
height:900px;
float:left;
margin:0px;
padding:0px;
background:url(res/p.jpg);
}
#orta6
{
width:1024px;
height:900px;
float:left;
margin:0px;
padding:0px;

}
#orta
{
width:800px;
height:900px;
float:left;
margin:0px;
padding:0px;
background:#FFFF00;
}
#orta4
{
width:1024px;
height:900px;
float:left;
margin:0px;
padding:0px;
background:url(res/d.jpg);
}
#sol
{
width:224px;
height:900px;
float:left;
margin:0px;
padding:0px;
background:#9900FF;
}

#alt
{
width:1024px;
height:50px;
float:left;
margin:0px;
padding:0px;
background:url(alt.jpg);
}
#oalt
{
width:1024px;
height:50px;
float:left;
margin:0px;
padding:0px;
background:url(oalt.jpg);
}
body {
background-color:#000;
margin:0px;
padding:0px;
}
#genel {
width:1024px;
height:1124px;
background-color:#000;
margin:auto;
}





